@model BTCPayServer.Models.AppViewModels.ViewPointOfSaleViewModel
@{ 
    var anyInventoryItems = Model.Items.Any(item => item.Inventory.HasValue);
}

<div id="cartModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white border-0">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-times fa-fw"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table id="js-cart-summary" class="table m-0">
                    <tbody class="my-3">
                        <tr>
                            <td colspan="2" class="border-top-0 h5">Summary</td>
                        </tr>
                        <tr>
                            <td class="border-0 pb-0 h6">Total products</td>
                            <td align="right" class="border-0 pb-0 h6">
                                <span class="js-cart-summary-products text-nowrap"></span>
                            </td>
                        </tr>
                        @if (Model.ShowDiscount)
                        {
                            <tr>
                                <td class="border-0 pb-y h6">Discount</td>
                                <td align="right" class="border-0 pb-y h6">
                                    <span class="js-cart-summary-discount text-nowrap"></span>
                                </td>
                            </tr>
                        }
                        @if (Model.EnableTips)
                        {
                            <tr>
                                <td class="border-top-0 pt-0 h6">Tip</td>
                                <td align="right" class="border-top-0 pt-0 h6">
                                    <span class="js-cart-summary-tip text-nowrap"></span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="h3 table-light">Total</td>
                            <td class="h3 table-light text-right">
                                <span class="js-cart-summary-total text-nowrap"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer bg-light">
                <form id="js-cart-pay-form"
                      method="post"
                      asp-controller="AppsPublic"
                      asp-action="ViewPointOfSale"
                      asp-route-appId="@Model.AppId"
                      asp-antiforgery="false"
                      data-buy>
                    <input id="js-cart-amount" class="form-control" type="hidden" name="amount">
                    <input id="js-cart-posdata" class="form-control" type="hidden" name="posdata">
                    <button id="js-cart-pay" class="btn btn-primary btn-lg" type="submit">
                        <b>@Model.CustomButtonText</b>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div class="p-2 p-sm-4">
            <div class="row">
                <div class="col-sm-4 col-lg-2 order-sm-last text-right mb-2">
                    <a class="js-cart btn btn-lg btn-outline-primary" href="#">
                        <i class="fa fa-shopping-basket"></i>&nbsp;
                        <span class="badge badge-light badge-pill">
                            <span id="js-cart-items">0</span>
                        </span>
                    </a>
                </div>
                <div class="col-sm-8 col-lg-10 mb-2">
                    <div class="mb-2 position-relative">
                        <input type="text" class="js-search form-control form-control-lg" placeholder="Find product">
                        <a class="js-search-reset btn btn-lg btn-link text-black" href="#">
                            <i class="fa fa-times-circle fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="row">
                    <div class="overflow-hidden col-12">@Safe.Raw(Model.Description)</div>
                </div>
            }
        </div>
        <div id="js-pos-list" class="text-center mx-auto px-4">
            <div class="row card-deck my-3">

                @for (var index = 0; index < Model.Items.Length; index++)
                {
                    var item = Model.Items[index];
                    var image = item.Image;
                    var description = item.Description;

                    <div class="js-add-cart card my-2 card-wrapper" data-index="@index">
                        @if (!String.IsNullOrWhiteSpace(image))
                        {
                            @:<img class="card-img-top" src="@image" alt="Card image cap">
                        }
                        <div class="card-body p-3">
                            <h6 class="card-title mb-0">@item.Title</h6>
                            @if (!String.IsNullOrWhiteSpace(description))
                            {
                                <p class="card-text">@description</p>
                            }
                        </div>
                        <div class="card-footer pt-0 bg-transparent border-0">

                            <span class="text-muted small">@String.Format(Model.ButtonText, @item.Price.Formatted)</span>
                            @if (item.Inventory.HasValue)
                            {

                                <div class="w-100 pt-2 text-center text-muted">
                                    @if (item.Inventory > 0)
                                    {
                                        <span>@item.Inventory left</span>
                                    }
                                    else
                                    {
                                        <span>Sold out</span>
                                    }
                                </div>
                            }
                            else if (anyInventoryItems)
                            {
                                <div class="w-100 pt-2">&nbsp</div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-dark">
        <div class="bg-primary p-3 clearfix">
            <h3 class="text-white m-0 pull-left">Cart</h3>
            <a class="js-cart btn btn-sm bg-white text-black pull-right ml-5" href="#">
                <i class="fa fa-times fa-lg"></i>
            </a>
            <a class="js-cart-destroy btn btn-danger pull-right" href="#" style="display: none;">Empty cart <i class="fa fa-trash fa-fw fa-lg"></i></a>
        </div>

        <table id="js-cart-list" class="table table-responsive table-light mt-0 mb-0">
            <thead>
                <tr>
                    <th colspan="3" width="55%">Product</th>
                    <th class="text-center" width="20%">
                        <div style="width: 84px">Quantity</div>
                    </th>
                    <th class="text-right" width="25%">
                        <div style="min-width: 50px">Price</div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <table id="js-cart-extra" class="table table-light mt-0 mb-0">
            <thead></thead>
        </table>

        <button id="js-cart-confirm" data-toggle="modal" data-target="#cartModal" class="btn btn-primary btn-lg btn-block mb-3 p-3" disabled="disabled" type="submit">
            <b>Confirm</b>
        </button>

        <div class="text-center mb-5 pb-5">
            <img src="~/img/logo.svg" class="logo" height="40">
        </div>
    </nav>
</div>
